* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card {
    width: 100%;
    height: 700px;
    background-color: forestgreen;
}

.card__container {
    margin: 0 auto;
    height: 100%;
    width: 1000px;
    padding: 50px 0;
    display: flex;
}

.pet {
    width: 30%;
    height: 100%;
    position: relative;
    background-color: #876c86;
}

.pet__title {
    padding: 30px;
    height: 60%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}

.pet__title i {
    background-color: #fab0ad;
    border-radius: 50%;
    padding: 10px;
    color: #876c86;
    transform: rotate(-30deg);
}

.pet__img {
    height: 40%;
}

.pet__img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.form {
    width: 70%;
    height: 100%;
    background-color: #f6b1aa;
}

.form__container {
    height: 85%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

.form__container .row {
    width: 100%;
    padding: 5px 0;
}

.form__container .row:nth-child(n) {
    display: flex;
}

.form__container p {
    font-size: 35px;
    padding-bottom: 20px;
    width: 70%;
    font-weight: bold;
}

.pet__name, .pet__breed,
.pet__gender {
    padding-right: 20px;
    width: 50%;
}

.pet__upload {
    margin-top: 20px;
}

.pet__upload > button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 0;
}

.pet__birthday, .pet__upload,
.pet__son {
    padding-left: 20px;
    width: 50%;
}

.row label {
    font-size: 18px;
}

input {
    margin: 4px auto;
    width: 100%;
    font-size: 16px;
    padding: 10px 2px;
}

input[type="radio"], input[type="file"] {
    display: none;
}

.pet__gender--radio,
.pet__son--radio,
.pet__weight--radio {
    display: flex;
    height: 50px;
    background-color: #fff;
    border-radius: 2px;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;
    width: 100%;
}

.pet__gender--radio label,
.pet__son--radio label,
.pet__weight--radio label {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"]:checked + label {
    background-color: #f6b1aa;
    border: 1px solid gray;
}


.form__btn {
    height: 15%;
    background-color: lawngreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 30px;
}

.form__btn > button {
    height: 45px;
    width: 100px;
    border-radius: 40px;
    border: 1px solid gray;
}

.btn--white {
    background-color: #fff;
}

.btn--color {
    background-color: #7e7280;
    color: #fff;
}