body {
    font-family: 'Roboto', sans-serif;
}

div {
    height: 300;
    width: 400px;
    overflow: scroll;
}

table {
    border: 1px solid darkgray;
    border-collapse: collapse;
    width: 750px;
    text-align: left;
    margin: 60px;
    margin-right: 100px;
}

tr, td, th {
    border: 1px solid darkgray;
    padding: 10px;
}

tr:first-child {
    background-image: linear-gradient(to right, #9a4285,#61848f);
    color: #fff;
}

tr:nth-child(even) {
    background-color:gainsboro;
}

td:last-child {
    font-weight: bold;
}

img {
    width: 10px;
    height: 10px;
}